@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-free/css/brands.min.css";
@import "@fortawesome/fontawesome-free/css/solid.min.css";

/* global */
/* font */
body {
  font-family: "Lato";
}

/* change the line intervals */
li {
  list-style: none;
  margin: 15px 0px;
}

/* custom list marker */
li:before {
  content: "\2014";
  margin-right: 4px;
}

/* slide 0 */
.slide-key {
  background-color: #b9f6ca;
}

/* slide 01 */
.profile-avatar {
  width: 40%;
  border-radius: 10px;
  margin-bottom: 30px;
}

.column > ul {
  margin-left: 0px;
}

.sns-list {
  display: flex;
  justify-content: center;

  & > a {
    border: none;

    &:not(:first-child) {
      padding-left: 20px;
    }
  }
}

.sns-list:hover > a {
  opacity: 0.3;
}

.sns-list > a:hover {
  opacity: 1;
}

.fa-home {
  color: #2ecc71;
}

.fa-twitter {
  color: #55acee;
}

.fa-github {
  color: #333;
}

.fa-facebook {
  color: #3b5998;
}

/* slide 02 */
.slide02 {
  background-size: cover;
  background-image: url("../../common/images/newzealand.jpg");
}

.slide02 > ul {
  display: flex;
  padding-top: 20px;
  padding-right: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* slide 03 */
.card {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.card-content > p {
  font-size: 2rem;
}

.grid-hc:hover > .column-hc {
  opacity: 0.3;
}

.grid-hc > .column-hc:hover {
  opacity: 1;
}

/* slide 05 */
.goofi-img {
  width: 25%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.object-to-json-parse-img {
  width: 80%;
  border-radius: 5px;
  margin-top: 10px;
}
